* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #83898d;
    line-height: 1.5;
}

h1 {
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .15rem;
    margin: 3.5rem 0 2rem;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

#employees {
    margin-bottom: 1rem;
}

#employees ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

#employees ul li {
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #dfdfdf;
    padding: 1rem;
    transition: border-color .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#employees ul li:hover {
    border-color: #4ECDC4;
}

#employees h2 {
    color: #404a51;
    margin: 0;
    font-size: 1.25rem;
}

#employees img,
.modal img {
    margin-right: 1rem;
    border-radius: 50%;
}

#employees span,
.modal span {
    display: block;
}

/* ------ Overlay ------ */

.overlay {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: .3s;
    display: flex;
}

/* ------ Modal ------ */
.modal {
    background-color: #fff;
    border: 2px solid #dfdfdf;
    padding: 1rem;
    margin: auto 1rem;
    border-radius: 6px;
    text-align: center;
}

@media (min-width: 768px) {
    #employees ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .modal {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1300px;
    }

    #employees {
        margin-bottom: 2rem;
    }

    #employees ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .modal {
        width: 33.333333333%;
    }
}