* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #83898d;
    line-height: 1.5;
}

h1 {
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .15rem;
    margin: 3.5rem 0 2rem;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

#employees {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

#employees li {
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #dfdfdf;
    padding: 1rem;
    transition: border-color .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#employees li:hover {
    border-color: #4ECDC4;
}

#employees h2 {
    color: #404a51;
    margin: 0;
}

#employees img {
    border-radius: 50%;
    margin-right: 1rem;
}

#employees span {
    display: block;
}

@media (min-width: 768px) {
    #employees {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    #employees {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}